<div class="row">
  <div class="col-md-offset-4 col-md-4 box1">
    <h1><span class="subtitle">ログインページ</span></h1>
    
    <%= form_for :session, url: login_path, class: 'form-horizontal'  do |f| %>
    
      <div style="margin-bottom: 10px">
        <%= f.label :email, class: 'control-label' %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'メールアドレスを入力してください。' %>
      </div>
      
      <div style="margin-bottom: 10px">
        <%= f.label :password, class: 'control-label' %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'パスワードを入力してください。' %>
      </div>
      
      <%= f.submit 'ログインする！', class: 'btn btn-primary btn-lg' %>
    <% end %>
    <p>New User? <%= link_to "登録はこちらから", signup_path %></p>
  </div>
</div>